// Override default variables before the import
// Default variable overrides
$body-bg: #ffffff;
$body-color: #111;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

.nav__custom{
    background-color: #F55353;
    background-image: url(./img/wave.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-light .navbar-brand {
    color: #ffffff;
}