$body-bg: #ffffff;
$body-color: #111;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html , body , #root {
    height: 100vh;
}


#root {
    display: flex;
    flex-direction: column;
}

#root > main , #root > footer {
    padding-top: 1rem ;
    padding-bottom: 1rem;
}

#root > main {
    flex-grow: 1;
}

@import '~bootstrap/scss/bootstrap.scss';

.nav__custom{
    background-color: #F55353;
    background-image: url(./img/wave.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.nav__cart{
    max-width: 36px;
}

.count__custom{
    width: 18rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border-radius: .25rem;
}

footer ul li .footer__link {
    color: #ffffff;
    text-decoration: none;
    transition: all 0.3s;
    &:hover{
        color: #f64672;;
    }
}

#footer__style{
    color:#ffffff;
    font-weight: 500;
}
.landing-destacados__title{
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto 20px;
    position: relative;
}

.landing-destacados__sub{
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    font-weight: 400;
    padding-left: 15px;
    padding-right: 15px;
}
.item__card{
    width: 19rem;
}

.item__button{
    width: 100%;
}

.cart__img{
    width: 80px;
    min-width: 50px;
}

.text__highlight{
    background-color:#242582 ;
    color: #f64672;
    font-weight: 700;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-light .navbar-brand {
    color: #ffffff;
}

.material-icons{
    font-size: 36px;
    color: #ffffff;
}

.btn-outline-success {
    color: #ffffff;
    border-color: #5200dd;
    &:hover,
    &:active,
    &:visited,
    &:focus{
        background-color: #5200dd;
        border-color: #5200dd;
    }
}

.btn-success{
    background-color: #F55353;
    border-color: #5200dd;
    &:hover,
    &:active,
    &:visited,
    &:focus{
        background-color: #5200dd;
        border-color: #5200dd;
        box-shadow: #5200dd;
    }
}

.bg-success{
    background-color: #5200dd !important;
}

.text-success{
    color: #5200dd  !important;
    }

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .nav-link.active {
    color: #ffffff;
    font-weight: 700;
    }
